body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    color: #333;
}
p {
    margin: 10px 0;
}
input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #dbdbdb;
    border: 1px solid #909091;
}
input[type="number"] {
    width: 100px;
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #dbdbdb;
    border: 1px solid #909091;
}
.conteiner {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 20px;
}
.column {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    width: 45%;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    height: 550px;
}
#habilidades {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    width: 45%;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    height: 1000px;
}
#historia {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    width: 45%;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    display: inline-block;
    vertical-align: top;
    height: 1000px;
}
/* Estilo do Dropdown */
.dropdown {
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #dbdbdb;
    border: 1px solid #909091;
}

/* Efeito de Hover */
.dropdown:hover {
    border-color: #7c7144; /* Dourado */
}
/* Estilo do Menu Aberto */
.dropdown:focus {
    outline: none;
    border-color: #7c7144; /* Dourado */
}
.dropdown option:hover {
    background-color: #fff;
    color: #333;
}
.modHab {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #cacaca;
    border: 1px solid #909091; 
}
/*.autoIncrement { 
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #cacaca;
    border: 1px solid #909091; 
}
    */
.textarea {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #dbdbdb;
    border: 1px solid #909091;
    vertical-align: middle;
    height: 100px;
    width: 300px;
}
.nomeArma{
    width: 300px;
    padding: 8px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: #dbdbdb;
    border: 1px solid #909091;
}
.danoArma{
width: 100px;
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #862b2b;
    border: 1px solid #909091;
}
.efeitoArma{

}